@import url(/css/clickEffect.css);
.btn{
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border: 1px whitesmoke solid;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 10px darkviolet, -10px -10px 10px purple;
    text-shadow: 2px 2px 5px black;
}
.btn:active{
    box-shadow:inset 10px 10px 100px black,10px 10px 10px darkviolet, -10px -10px 10px purple;

}
.buttonCont{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}