.settings{
    width: 100% !important;
    /* background-color: rgba(255, 0, 0, 0.418); */
    user-select: none;
}
.space{
    margin: 7px;
}
.icoCont{
    position: absolute;
    right: 0;
    background-color: rgba(199, 199, 199, 0.212);
    height: 90px;
    border-radius: 20px;
    margin: 20px;
} 
.closeicoCont{
    right: -200px;
    background-color: rgba(126, 3, 3, 0.212);
    transition: background-color 1s;
}
.closeicoCont:hover{
    background-color: red;
}
.settingsicoCont{
    transition: background-color 1s;
}
.settingsicoCont:hover{
    background-color: rgb(199, 199, 199);
}
.ico{
    font-size: 90px;
    transition: transform 1s;
}
.ico:hover{
    transform: rotate(180deg);
}
.settingsTable{
    position: absolute;
    right: -200px;
    top: 150px;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 5px;
    background-color: rgba(199, 199, 199, 0.212);
    border-radius: 20px;
}
.in{
    animation: in 0.5s;
}
@keyframes in {
    100% {right: 0;}
}
.out{
    animation: out 0.5s;
}
@keyframes out {
    100% {right: -200px;}
}

