.shop{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: blue; */
    height: 100px;
    /* width: 50%; */
    padding: 10px;
    margin-bottom: 50px;
}
button{
    margin: 20px;
    background-color: rgba(199, 199, 199, 0.212);
    text-shadow: 2px 2px 5px black;
    color: whitesmoke;
    border: 3px whitesmoke solid;
    border-radius: 20px;
    height: 100px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
}